.navbar-brand-custom {
  font-family: monospace;
  font-weight: bolder;
  font-size: larger;
  color: #333;
  font-weight: bolder;
  background-color: palevioletred;
}

* {
  font-family: monospace;
  font-size: large;
}
